<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>mobike</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen'>
        <link rel="stylesheet" href="css/flexboxgrid.css">
        <link rel="stylesheet" href="css/estilomobike.css">
        <link rel="stylesheet" href="css/fontello.css">
    </head>
    <body>
        <header>
            <div class="contenedor">
                <h1 class="icon-bicycle"> Proyecto Mobike</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-th-list-outline" for="menu-bar"></label>
                <nav class="menu">
                    <a href="users/signup">Registro</a>
                    <a href="users/signin">Ingreso</a>
                    <a href="users/galeria">Galeria</a>
                    <a href="users/contactanos">Contacto</a>
                </nav> 
            </div>
        </header>
    
        <main>
            <section id="banner">
                <img src="img/Bkq0rVlVl_1200x0.jpg">
                <div class="contenedor">
                    <h2>Arriendo de bicicletas para la comuna</h2>
                    <p>Ayudemos al medio ambiente</p>
                    <a href="#">Enterate</a>
                </div>
            </section>
            <section id="bienvenidos">
                <h2>Programa de descongestion</h2>
                <p>Este sitema implementdo por la ilustre mnicipalidad de 'La Reina' se ideo como una solucionn para la alta congestion vehicular dentro de la comuna la cual conciste en el arriendo de bicicletas las cuales se podran utilizar dentro de la comuna, el arriendo conciste en simples pasos registro --> arriendo vía web --> retiro de la bicicleta de la estacion, como se puede apreciar este sistema es muy sencillo de utilizar y los beneficiarios seran las personas que vivan o trabajen dentro de la comuna y dos comunas más que se aderiran al plan de implementacion ecologica, de esta forma se ayudara al medio ambiente y reducira la congestion dentro de la comuna</p>
            </section>
            <section id="block">
                <h3>Unete tu tambien al proyecto</h3>
                <div class="contenedo">
                    <article>
                        <img src="img/img1.webp" alt="">
                        <h4>Recreacion en familia</h4>
                    </article>
                    <article>
                        <img src="img/img2.jpg" alt="">
                        <h4>Un paseo para conocerce mejor</h4>
                    </article>
                    <article>
                        <img src="img/img3.jpg" alt="">
                        <h4>Simplemente disfrutalo</h4>
                    </article>
                </div>
            </section>
        </main>
    
    
        
    
    </body>
</html>