.titulo{
    width: 100%;
    height: 7%;
    background: darkblue;
    color: ghostwhite;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    text-align: center;
}
h1{
    margin-top: 2px;
}
.map{
    margin-top: 51px;
    margin-left: -8px;
}
img{
    height: 647px;
}
.botones{
    float: right;
    margin-top: 50px;
    width: 28%;
    height: 550px;
    text-align: center;
    
}
label{
    text-align: center;
    font-size: 32px;
    box-shadow: 0px 0px 5px;
}
button{
    margin-top: 170px;
    font-size: 24px;
    border-radius: 6px;
    background-color: darkblue;
    color: white;
}
#lista{
    margin-top: 60px;
    font-size: 26px;
    background-color: darkblue;
    color: white;
}
.atras{
    font-size: 25px;
    float: right;
    margin-right: 9px;
    color: white;
    margin-top: -55px;
}