#banner{
    margin-top: 30px;
    position: relative;
}

#banner img{
    width: 100%;
    height: 700px;
}
@media (max-width: 940px){
    #banner img{
        height: 450px;
    }
}


#banner .contenedor{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#banner p{
    font-size: 20px;
}
@media (min-width: 800px){
    #banner p{
        font-size: 35px;
    }
}

#banner h2{
    font-size: 25px;
    color: #fff;   
}
@media (min-width: 800px){
    #banner .contenedor h2{
        font-size: 55px;
        margin-top: 20px;

    }
}

#banner a{
    display: block;
    width: 100px;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    border: 3px solid #fff;
    font-size: 25px;

}
@media (min-width: 800px){ 
    #banner a{
        width: 150px;
        height: 65px;
    }
}
#banner a:hover{
    background: rgba(51, 51, 51, 0.3);
}

