#block h3,h4{
    text-align: center;
}

#block .contenedor{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

#block article{
    margin: 25px;
}

#blog img{
    width: 100%;
    max-width: 280px;
    display: block;
}