.titulo{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
    background-color: darkblue;
    color: white;
}

.box{
    margin-top: 25px;
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: black;
    width: 70%;
}

h2{
    text-align: center;
    margin: auto;

}
.atras{
    font-size: 25px;
    float: right;
    margin-right: 3px;
    color: white;
}

.foot{
    margin-top: 100px;
}
.iconos{
    text-align: center;
    margin: 4%;
    
}
.icon{
    margin: 2%;
}
.icon img{
    border-radius: 50px;
}
