@import url(menu.css);
@import url(banner.css);
@import url(block);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 5%;
    background: darkblue;
    color: ghostwhite;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
    text-align: center;
}
h1{
    float: left;
}
header .contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 20px;
}
#bienvenidos{
    text-align: center;
}
article{
    text-align: center;
    margin: 2%;
    font-size: 25px;
    
}
h2{
    font-size: 30px;
}
h3{
    text-align: center;
    font-size: 30px;
}
p{
    font-size: 20px;
}
img{
    width: 100%;
}
@media (min-width: 800px){
    img{
        width: 60%;
    }
}
#bienvenidos p{
    font-size: 25px;
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
