*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.box{
    width: 600px;
    perspective: 4000px;
    position: relative;
    margin: auto;
    margin-top: 60px;
}
.carrucel{
    width: 90%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}
.carrucel figure{
    width: 500px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px black;
}
.carrucel figure :hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.carrucel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.carrucel img:hover{
    transform: scale(1.2);
    transition: all 300ms;

}

.carrucel figure:nth-child(1){transform: rotateY(0deg)translateZ(500px);}
.carrucel figure:nth-child(2){transform: rotateY(60deg)translateZ(500px);}
.carrucel figure:nth-child(3){transform: rotateY(120deg)translateZ(500px);}
.carrucel figure:nth-child(4){transform: rotateY(180deg)translateZ(500px);}
.carrucel figure:nth-child(5){transform: rotateY(240deg)translateZ(500px);}
.carrucel figure:nth-child(6){transform: rotateY(300deg)translateZ(500px);}
.carrucel figure:nth-child(7){transform: rotateY(360deg)translateZ(500px);}
.carrucel img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

@keyframes rotar {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

.titulo{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 0px 0px 6px black;
    color: blue;
}
.comentario{
    text-align: center;
    margin-top: 40px;
    font-size: 11px;
}
.volver{
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.volver .atras{
    font-size: 25px;
    color: black;

}

.volver .atras:hover{
    color: rgba(68, 217, 236, 0.87);
}