#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px, 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: seashell;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu :hover{
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}