 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">   
      <a class="navbar-brand" href="/">Mobike</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/users/signin">Iniciar sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/signup">Registrarse</a>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/notes">ver bicicleta</a>
          <a class="dropdown-item" href="/notes/add">agregar bicicleta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">cerrar sesion</a>
        </div>
      </li>

    </ul>
  </div>
  </div>
</nav>