<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva bicicleta</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="ID"
                autofocus>

            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" placeholder="Valor"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Guardar</button>
            </div>
        </form>

        </div>

    </div>
</div>