

.title{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
    background-color: darkblue;
    color: white;
}
.title .atras{
    float: right;
    font-size: 25px;
    color: white;
    margin-right: 7px;
}
.title .atras:hover{
    color: rgba(68, 217, 236, 0.87);
}


.box{
    margin-top: 35px;
    margin: auto;
    /* text-align: center; */
    font-size: 36px;
    color: black;
    width: 330px;
    height: 310px;
}


.boton{
    text-align: center;
    margin: auto;
    background-color: green;
    width: 100px;
}
button{
    font-size: 25px;
}