<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/arriendo.css">
    <link rel="stylesheet" href="js/arriendo.js">
</head>
<body>
    <div class="titulo">
        <h1>Arriendo de bicicleta</h1><a href="index.html" class="atras">Volver</a>
    </div>
    <form action="selector">
        <div class="botones">
            <label for="text">Seleccione la ubicacion</label>
            <br>
            <select name="lista" id="lista" onchange="elegir">
                <option value=""></option>
                <option value="1-lugar">1-lugar</option>
                <option value="2-lugar">2-lugar</option>
                <option value="3-lugar">3-lugar</option>
                <option value="4-lugar">4-lugar</option>
            </select>
            
                
            </select>
            <br>
            <button class="boton">Arrendar</button>
        </div>
        <div class="map">
            <img src="img/Captura de pantalla (7).png" alt="">
        </div>
    </form>
</body>
</html>