<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/contactanos.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="font/fontello.woff2">
</head>
<body>
    <div class="titulo"><h1>
        Comuna de "La reina"<a href="/" class="atras">Volver</a>
    </h1></div>
    <div class="box">
        <p>
            El proyecto inpulsado por la comuna de "La reina" que involucra dos comunas más es en pro de el medio ambiente y como una medida de contingencia por la alta congestion veicular y para impulsar una vida menos sedentaria y más saludable, el pensamiento de la municipalidad es que la gente de su comuna sea un ejemplo a seguir en cuanto a el deporte para movilizarce dentro de la comuna y de las reguiones permitidas, y asi en una fase posterior segun el recibimiento de la poblacion poder pasar a una segunda fase donde se pueda expandir a otras comunas de la region contando con el apoyo de todos.
        </p>
    </div>
    <div class="foot">
        <h2>
            Contactate con nosotros
        </h2>
    </div>
    <div class="iconos">
        <a class="icon" href="https://es-la.facebook.com/" target="_blank"><img alt="Like en Facebook" height="70"  width="70" src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png" title="Like en Facebook"/></a>
        <a class="icon" href="https://www.instagram.com/?hl=es-la" target="_blank"><img alt="Sígueme en Instagram" height="70" width="70" src="https://4.bp.blogspot.com/-Ilxti1UuUuI/XCrIy6hBAcI/AAAAAAAAH_k/QV5KbuB9p3QB064J08W2v-YRiuslTZnLgCLcBGAs/s1600/instagram.png" title="Sígueme en Instagram"/></a>
        <a class="icon" href="https://web.whatsapp.com/" target="_blank"><img alt="Hablanos por WhatsApp" height="70" width="70" src="https://2.bp.blogspot.com/-hJd7RLbG6dQ/XCrI389R_CI/AAAAAAAAIA8/2zdJ54oo7GAjqppIbfin0jvgf6cvk3VPgCLcBGAs/s1600/whatsapp.png" title="Hablanos por WhatsApp"/></a>
    </div>
</body>
</html>