<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/galeria.css">
    <link rel="stylesheet" href="/css/galeria.css">
</head>
<body>
    <div class="titulo">
        <h1>Galeria de imagenes</h1>
    </div>
    <div class="comentario">
            <h2>(Unete al proyecto y podrias ser el proximo en la galeria)</h2>
    </div>
    <div class="volver">
        <a href="index.html" class="atras">Volver</a>
    </div>
    <div class="box">
        <div class="carrucel">
            <figure><img src="/img/ca1.jpg" alt=""></figure>
            <figure><img src="/img/ca2.png" alt=""></figure>
            <figure><img src="/img/ca3.jpg" alt=""></figure>
            <figure><img src="/img/ca4.jpg" alt=""></figure>
            <figure><img src="/img/ca5.jpg" alt=""></figure>
            <figure><img src="/img/ca6.jpg" alt=""></figure>
            <figure><img src="/img/ca8.webp" alt=""></figure>
        </div>
    </div>
</body>
</html>