<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                registro de cuenta

            </div>
           <div class="card-body">
               <form action="/users/signup" method="POST">
                   <div class="form-group">
                       <input type="text" class="form-control" name="name" placeholder="name"
                       value="{{name}}">
                   </div>
                    <div class="form-group">
                       <input type="email" class="form-control" name="email" placeholder="email" 
                       value="{{email}}">
                   </div>

                    <div class="form-group">
                       <input type="password" class="form-control" name="password" placeholder="password"
                       value="{{password}}">
                   </div>
                      <div class="form-group">
                       <input type="password" class="form-control" name="confirm_password" placeholder="password"
                       value="{{confirm_password}}">
                   </div>
                    
                   <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">
                           registrarse
                       </button>
                   </div>
               </form>
           </div>
        </div>
    </div>
</div>