<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 tex-center">
            <div class="card-header">
                <h2>Cuenta de inicio de sesion</h2>
            </div>
            <img src="" class="logo" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"
                        placeholder="Email" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control"
                        placeholder="Password">
                        
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">
                           Iniciar sesion
                       </button>
                    </div>
               </form>

            </div>
        </div>
    </div>
</div>